# Data Preparation
The purpose of this notebook is to create the link of urls that will be used for the final dataset.

In [9]:
import numpy as np
import pandas as pd
import urllib.request 
import ssl
import os

ssl._create_default_https_context = ssl._create_unverified_context

In [10]:
most_funny = [10, 9, 8]
funny = [7, 6, 5, 4]
meh = [3,2,1]

In [73]:
#Define some global variables 
strata1_path = '/Users/hannahkim/Desktop/neuro240/Labeling_500/Strata1_100/'
strata2_path = '/Users/hannahkim/Desktop/neuro240/Labeling_500/Strata1_100/'
strata3_path = '/Users/hannahkim/Desktop/neuro240/Labeling_500/Strata1_100/'
strata4_path = '/Users/hannahkim/Desktop/neuro240/Labeling_500/Strata1_100/'
strata5_path = '/Users/hannahkim/Desktop/neuro240/Labeling_500/Strata1_100/'
# base = 'https://humor-dataset.s3.us-east-2.amazonaws.com/Strata1_100/'
base = 'https://humor-dataset.s3.us-east-2.amazonaws.com/Renamed/'
folder_path = '/Users/hannahkim/Desktop/neuro240/Renamed/'
project_path = '/Users/hannahkim/Desktop/neuro240/'

In [65]:
import pandas as pd
df_links = pd.DataFrame()
df_links['image_url'] = [] 

df_links

Empty DataFrame
Columns: [image_url]
Index: []

In [66]:
def rename_images(folder_path):
    i = 1
    for filename in os.listdir(folder_path):
#         if (' ' in filename):
#             print("Changing!:", filename, '----------------------------------------')
#             new_filename = filename.replace(" ", "")
#             os.rename(folder_path + filename, new_filename
        new_filename = f'image{i}.jpg'
        os.rename(folder_path + filename, new_filename)
        i+=1
    return 'DONE!'

In [76]:
def get_s3_links(folder_path, base, destination):
    df = pd.DataFrame()
    df['image_url'] = []    
    
    for filename in os.listdir(folder_path):
        df.loc[len(df.image_url)] = base + filename 
#         print(base + filename)
    filepath = destination + 'S3_links.csv'
    df.to_csv('S3_links.csv')
    return df

In [77]:
get_s3_links(folder_path, base, destination=project_path)

                                              image_url
0     https://humor-dataset.s3.us-east-2.amazonaws.c...
1     https://humor-dataset.s3.us-east-2.amazonaws.c...
2     https://humor-dataset.s3.us-east-2.amazonaws.c...
3     https://humor-dataset.s3.us-east-2.amazonaws.c...
4     https://humor-dataset.s3.us-east-2.amazonaws.c...
...                                                 ...
1855  https://humor-dataset.s3.us-east-2.amazonaws.c...
1856  https://humor-dataset.s3.us-east-2.amazonaws.c...
1857  https://humor-dataset.s3.us-east-2.amazonaws.c...
1858  https://humor-dataset.s3.us-east-2.amazonaws.c...
1859  https://humor-dataset.s3.us-east-2.amazonaws.c...

[1860 rows x 1 columns]