# Cleaning and analyzing data from the VQA model

In [16]:
import pandas as pd
import numpy as np

df = pd.read_csv('/Users/neuro140/Desktop/humor_detection/data/VQA_ratings.csv').T
df.columns = ['label1', 'label2']
df.label1 = df.label1.astype('str')
df.label1.value_counts()

not very        1038
very             263
no               121
5                108
0                 83
not at all        80
2                 73
3                 53
not possible      28
10                 5
not sure           3
1                  1
not too            1
no eggs            1
Name: label1, dtype: int64

In [20]:
df.label1

image478.jpg           very
image336.jpg              5
image450.jpg       not very
image1781.jpg      not very
image1795.jpg    not at all
                    ...
image449.jpg       not very
image307.jpg             no
image461.jpg             no
image475.jpg       not very
image313.jpg           very
Name: label1, Length: 1858, dtype: object

In [22]:
'''
Set numerical values as the model's "truth" value for each image 
'''
import random

def map_to_number(ele):
    if ele == 'not very':
        return random.randint(2,4)
    elif ele == 'very':
        return random.randint(7,9)
    elif ele == 'not at all':
        return 1
    elif (ele == 'not sure') or (ele == 'not too') or (ele == 'no eggs'):
        return random.randint(1,10)
    else:
        return ele

df['vqa_rank'] = df['label1'].apply(map_to_number)

                   label1      label2 vqa_rank
image478.jpg         very        very        7
image336.jpg            5           5        5
image450.jpg     not very    not very        4
image1781.jpg    not very    not very        4
image1795.jpg  not at all  not at all        1
...                   ...         ...      ...
image449.jpg     not very    not very        4
image307.jpg           no          no       no
image461.jpg           no          no       no
image475.jpg     not very    not very        4
image313.jpg         very        very        8

[1858 rows x 3 columns]

In [ ]:
mappings = {
    'very': 8,
    'not very': 4,
    'not at all': 1}